<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Terminology</title>
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-dark bg-dark">
        <div class="mx-5 d-flex flex-row align-items-center">
        <a class="navbar-brand flex-grow-1" href="#">
            <img class="img-fluid" src="tkd-logo-383x68.png" alt="">
        </a>
            <ul class="navbar-nav flex-row">
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link active" aria-current="page" href="/terminology">Terminology</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link" href="/students">Table</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-lg">
        <h2 class="my-5">Terminology</h2>
        <!--Definition sheet-->
        <h3>Definition Sheet</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td class="h4">Hyung</td>
                    <td class="h4">Definition</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>CHON&#8209;JI</td>
                    <td>Chon-Ji means literally the “Heaven and Earth”.  In the orient, it 
                        is interpreted as the creation of the world or the beginning of 
                        human history.  Therefore, it is the initial pattern played by the 
                        beginner.</td>
                </tr>
                <tr>
                    <td>DAN&#8209;GUN</td>
                    <td>Dan-Gun is named after the Holy Dan-Gun, the legendary founder of 
                        Korea in the year 2334 B.C.</td>
                </tr>
                <tr>
                    <td>DO&#8209;SAN</td>
                    <td>Do-San is the pseudonym of the patriot Ahn-Chang-Ho (1876
                        1938), who devoted his life to furthering the education of Korea 
                        and its independence movement.</td>
                </tr>
                <tr>
                    <td>WON&#8209;HYO</td>
                    <td>Won-Hyo was the noted Monk who introduced Buddhism to the 
                        Silla Dynasty in the year 686 A.D.</td>
                </tr>
                <tr>
                    <td>YUL&#8209;GOK</td>
                    <td>Yul-Gok is the pseudonym of the great philosopher and scholar 
                        Yi I (1536-1584), nick named the “Confucius of Korea”. The 38 
                        movements of this pattern refer to his birthplace on the 38th 
                        latitude and the diagram represents “scholar”.</td>
                </tr>
                <tr>
                    <td>JOONG&#8209;GUN</td>
                    <td>Joong-Gun is named after the patriot An Joong Gun who 
                        assassinated Hiro Bumi Ito, the first Japanese governor-general 
                        of Korea who is known as the man who played a leading part of 
                        the Korea/Japan merger.  There are 32 movements in this 
                        pattern to represent An-Joong Gun's age when he was executed 
                        in Lui-Shung prison in 1910.</td>
                </tr>
                <tr>
                    <td>TOI&#8209;GYE</td>
                    <td>Toi-Gye is the pen name for the noted scholar Yi Hwang (16th 
                        century A.D.) an authority of Neo-Confucianism.  The 37 
                        movements refer to his birth place on the 37 latitude, and the 
                        diagram represents “scholar”.</td>
                </tr>
                <tr>
                    <td>HWA&#8209;RANG</td>
                    <td>Hwa-Rang is named after the Hwa-Rang youth group which 
                    originated in the Silla Dynasty about 1,350 years ago.  This 
                    group eventually became the actual driving force for the 
                    unification of the three Kingdoms of Korea.</td>
                </tr>
            </tbody>
        </table>
        <!--Aims to Achieve-->
        <div class="my-5 mx-auto" style="max-width: 250px">
            <h3 class="text-center">Aims to Achieve</h3>
            <ol>
                <li>Modesty</li>
                <li>Self-Control</li>
                <li>Perseverance</li>
                <li>Indomitable Spirit</li>
            </ol>
        </div>
        <!--Pledge-->
        <div class="my-5 mx-auto" style="max-width: 450px">
            <h3 class="text-center">Pledge</h3>
            <ol>
                <li>To train both mind and body through Tae Kwon Do.</li>
                <li>To promote a friendly relationship amongst all people.</li>
                <li>To be a courageous opponent against untruths.</li>
                <li>To follow all the rules of Tae Kwon Do and my instructors.</li>
            </ol>
        </div>
    </div>
</body>
</html>